git+https://github.com/DIYer22/process_raw@master#egg=process_raw
git+https://github.com/facebook/Ax@main#egg=ax
git+https://github.com/chaofengc/IQA-PyTorch@main#egg=iqa-pytorch
git+https://github.com/frida/frida-python@main#egg=frida
git+https://github.com/frida/frida-tools@main#egg=frida-tools
json
adbutils
