capstone==4.0.2
keystone-engine
loguru==0.6.0
numpy==1.24.2
pandas==1.5.3
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
ax
adbutils~=1.2.7
frida~=16.0.10
opencv-python~=4.7.0.72
pyiqa~=0.1.5
torch~=1.13.1